<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="main">
    <title>Login page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <a href="/">Home</a> | <a href="/registration">Registration</a>

    <h1>Login</h1>

    <form action="login" method="post">
        <input placeholder="Enter your email" name="log_email" type="email">
        <input placeholder="Enter your password" name="log_pass" type="password">
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>